body {
    font-family: Monaco, monospace;
    margin: 10;
    padding: 30;
    background-color: #f4f4f4;
}

header {
    background-color: #7b1607;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1, h2 {
    margin: 20;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    margin: 10;
    background-color: #fcfcfc;
    font-family: Monaco, monospace;
    color: rgb(1, 1, 1);
    padding: 30;
}
